.eventsSection {
}


.eventsSection img
{
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
}

.grid {
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.grid img:hover .title
{
    font-size: 21rem
}

.grid img
{
    transition: all 0.3s ease;
    outline: 2px solid var(--text-colour);
}

.grid img:hover
{
    transform: scale(1.02);
}

.columnContainer
{
    display: flex;
    width: 100%;
    height: 500px;
    gap: 1rem;
}

.largeImage, .leftColumn, .rightImage
{
    position: relative;
}

/* Row 1: Full width */
.largeImage img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 16px;
}

.title
{
    position: absolute;
    text-wrap: nowrap;
    color: var(--text-colour);
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-family: "Milker";
}

/* Row 2: Two columns */
.grid > .leftColumn,
.grid > .rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leftColumn
{
    width: 100%;
}

.leftColumn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.rightColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rightColumn .rightImage
{
  width: 100%;
  height: 100%;
}

.rightColumn .rightImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .grid {
    grid-template-rows: auto auto auto auto;
  }

  .leftColumn,
  .rightColumn {
    flex-direction: column;
  }

  .rightColumn {
    grid-template-rows: auto auto;
  }
}
