.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.committee
{
  max-width: var(--max-width);
}

.heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid #e5e7eb;
  padding: 1rem;
  background-color: white;
  color: black;
}

.card:hover {
}

.cardImage {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}

.role {
  color: #000000;
}

.socialLinks {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.75rem;
}

.socialLink {
  text-decoration: none;
}

.linkedin {
  color: #0A66C2;
}

.github {
  color: #1F2937;
}
