.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
  background-color: var(--background-colour);
}

.spinner {
  margin-top: 1rem;
  border: 4px solid #363636;
  border-top: 4px solid var(--text-color, #ffffff);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
