.eventCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  background: var(--card-bg, #fff);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2.5rem;
  transition: transform 0.3s ease;
  color: var(--secondary-text-colour);
}

.imageWrapper {
  width: 100%;
  height: 260px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: ghostwhite;
}

.logo
{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    z-index: 1;
}

.content {
  padding: 1.5rem;
}

.eventTitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: var(--secondary-text-colour);
}

.date {
  font-weight: 500;
  color: #777;
  font-style: italic;
}

.location {
  color: #555;
  margin-bottom: 1rem;
}

.description {
  margin-bottom: 0.3rem;
  line-height: 1.5;
  color: #55555562;
}

.bottomLine {
  display: flex;
  align-items: flex-end;
  gap: 50px;
  justify-content: space-between;
}

.sponsors {}

.sponsorTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.sponsorLogos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  height: 60px;
}

.sponsorLogo {
  width: auto;
  height: 100%;
  opacity: 0.8;
  transition: filter 0.3s, opacity 0.3s;
}

.sponsorLogo:hover {
  filter: none;
  opacity: 1;
}

.buttons {
  display: flex;
  gap: 1rem;
}
