.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 60px;
}

.background {
  position: relative;
  width: 100%;
  flex: 1;
  background-size: cover;
  background-image: url("../../../assets/backgrounds/MineSocBackground.png");
  background-position: center;
  z-index: 0;
}

.logo {
    width: 100%;
}

.infoBoxes {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    gap: 10px;
    width: 100%;
    z-index: 1;
    padding: 20px 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.logoContainer
{
    position: relative;
    z-index: 1;
    width: 75%; /* adjust size */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2vw 2vw;
    min-height: 400px;
}

.logoContainer img
{
    width: 100%;
}

.welcomeText
{
    font-size: 1.5rem;
    margin: 0;
    color: var(--white);
}

.infoLeft
{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.infoRight
{
    width: fit-content;
}

.infoBox iframe {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.infoBox {
  background: rgba(255, 255, 255, 0.099); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  padding: 15px 20px;
  border-radius: 8px;
  height: fit-content;
  outline: 1px solid var(--white);
  max-width: 400px;
  font-size: 1rem;
  color: #ffffff; 
}

.mlhBadge {
  display: block;
  position: absolute;
  max-width: 100px;
  min-width: 60px;
  right: 40px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.mlhBadge img {
  width: 100%;
}
