.container-fluid {
  background-size: cover;
  background-position: center;
  background-color: #e3dad2;
  background-image: url('./../assets/sparse-icon-scatter-dark.png');
  padding: 4rem 4rem;
}

.icon {
  font-size: 90px;
  color: black;
  margin-right: 1rem;
}

.header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 800;
}

.text {
  margin-bottom: 1.5rem;
  color: black;
}

.map {
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
  height: 150px;
}

@media (max-width: 576px) {
  .icon {
    font-size: 14vw;
  }

  .text {
    font-size: 4vw;
  }
}
