.container {
  background-size: cover;
  background-position: center;
  background-color: #EEEEEE;
  /* background-image: url('./../assets/sparse-icon-scatter-dark.png'); */
  min-height: 100vh;
  padding: 2rem 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.container h2 {
  color: black !important;
}

.img-fluid {
  max-width: 70%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .img-fluid {
    display: none;
  }
}

@media (min-width: 992px) {
  .responsive-text {
    font-size: 1.25rem; /* or adjust according to your need for large screens */
  }
}

@media (max-width: 991px) {
  .responsive-text {
    font-size: 1rem; /* or adjust according to your need for small screens */
  }
}
