.container
{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.merch
{
    width: 100%;
    max-width: var(--max-width);
}

.merch div
{
    width: 100%;
}

.header
{
    color: black;
    text-align: end;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.merchGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--background-colour);
  padding-top: 80px;
}

.merchItem {

  width: 33% !important;
  height: 500px;
  max-height: 500px;
  min-height: 500px;
  z-index: 1;
}

.merchImage {
  width: 100%;
  object-fit: contain;
  object-position: bottom;
  height: 500px;
  max-height: 500px;
  min-height: 500px;
  height: auto;
}

.merchTitle {
  font-size: 1rem;
}