:root {
  --green: #2ecc71;
  --electric-green: #34d2c8;
  --lime: #8bda94;
  --teal: #5DCAD1;
  --blue: #3498db;
  --light-blue: #7DB5DB;
  --basic-blue: #145E8F;
  --dark-blue: #002942;
  --gunmetal-blue: #3b596e;
  --gunmetal: #365b6d;
  --dark-gunmetal: #324B5C;
  --dark-grey: #1C252D;
  --super-dark: #002942;
  --darker-blue: #2b3b4c;
  --text: #fff;
}

html, body {
  scroll-behavior: smooth;
  background-color: var(--dark-grey);
  background-image: url("assets/background-scatter.png");
  color: var(--text);
  scroll-behavior: smooth;
}

#root {
  min-height: calc(100vh);
  max-height: 100%;
  font-size: 1.25rem;
  overflow-x: hidden;
}

.btn-blue {
  background-color: var(--electric-green);
  color: var(--super-dark);
}

.btn-blue:hover {
  background-color: var(--electric-green) !important;
  color: var(--super-dark) !important;
  text-decoration: underline !important;
}

.btn-blue:active {
  background-color: var(--electric-green) !important;
  color: var(--super-dark) !important;
  text-decoration: underline !important;
}

.btn-blue:focus {
  background-color: var(--electric-green);
  color: var(--super-dark);
  text-decoration: underline;
}

.navbar {
  background-color: var(--darker-blue);
}

.navbar-toggler {
  box-shadow: none !important;	
}

.dropdown-menu {
  background-color: var(--dark-gunmetal);
}

.dropdown-item {
  color: var(--text);
}

.dropdown-item:hover {
  background-color: var(--teal);
  color: var(--super-dark);
}

.sponsor-banner {
  background-color: var(--darker-blue);
}

.slick-initialized .slick-track {
  display: flex;
  align-items: center;
}

.carousel-item {
  height: 500px;
  width: 100%;
}

.carousel-item .img-fluid {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-indicators button {
  width: 30px !important;
  height: 30px !important;
  border: 5px solid var(--super-dark) !important;
  border-radius: 100%;
  background-color: var(--electric-green) !important;
  margin: 5px 0;
}

.text-electric {
  color: var(--electric-green);
}

.text-green {
  color: var(--green);
}




