:root {
  --green: #2ecc71;
  --electric-green: #34d2c8;
  --lime: #8bda94;
  --teal: #5DCAD1;
  --blue: #3498db;
  --light-blue: #7DB5DB;
  --basic-blue: #145E8F;
  --dark-blue: #002942;
  --gunmetal-blue: #3b596e;
  --gunmetal: #365b6d;
  --dark-gunmetal: #324B5C;
  --dark-grey: #1C252D;
  --super-dark: #002942;
  --darker-blue: #2b3b4c;
  --text: #fff;
}

html, body {
  scroll-behavior: smooth;
  background-color: var(--dark-grey);
  background-image: url("assets/background-scatter.png");
  color: var(--text);
}

#root {
  min-height: calc(100vh);
  max-height: 100%;
  font-size: 1.25rem;
  overflow-x: hidden;
}

.btn-blue {
  background-color: var(--teal);
  color: var(--super-dark);
}

.btn-blue:hover {
  background-color: var(--blue);
}

.navbar {
  background-color: var(--darker-blue);
}

.navbar-toggler {
  box-shadow: none !important;	
}

.dropdown-menu {
  background-color: var(--dark-gunmetal);
}

.dropdown-item {
  color: var(--text);
}

.dropdown-item:hover {
  background-color: var(--teal);
  color: var(--super-dark);
}

#indexCarousel .carousel-item {
  height: 600px;
}

#indexCarousel .carousel-item img {
  object-fit: cover;
  height: 600px;
}