

.container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notFound
{
    width: 100%;
    max-width: var(--max-width);
    height: fit-content;
}

.pageHeader
{
    font-size: 5rem;
    margin: 0;
    margin-top: 50px;
}

.pageDescription
{
    font-size: 2rem;
    margin-top: 20;
}